*{
  box-sizing: border-box;
}
.chat-main {
  width: calc(100vw - 300px);
  float: left;
	.main-header {
		height: 100px;
		padding: 0 40px;
		.left-header {
			float: left;
			&__current-group {
				margin-top: 35px;
				font-size: 20px;
				color: $letter-main;
			}
			&__member-list {
				display: flex;
				font-size: 12px;
        margin-top: 15px;
      }
    }
		.right-header {
			border: 1px solid $sky_blue;
			color: $sky_blue;
			float: right;
			height: 40px;
			line-height: 40px;
			margin-top: 28px;
			padding: 0 20px;
			&__group-edit {
        color: $sky_blue;
        text-decoration: none;
        &__letter {
          color: $sky_blue;
          text-decoration: none;
        }
			}
		}
	}
  .messages{
    background-color: #fafafa;
    padding: 40px 40px 0;
    height: calc(100vh - 100px - 90px);
    overflow: scroll;
    .message {
      margin-bottom: 40px;
      &__upper-info {
      display: flex;
      margin-bottom: 5px;
        &__user {
          color: $letter-main;
          font-size: 15px;
          font-weight: bold;
        }
        &__date {
          color:$letter-date;
          font-size: 12px;
          padding-top: 3px;
          padding-left: 10px;
        }
      }
      &__text {
        color: $letter-main;
        font-size: 15px;
        img {
          width: 200px;
        }
      }
    }
  }

  .form {
    background-color: #DDDDDD;
    height: 90px;
    padding: 20px 50px 20px 40px;
    .new-message {
      display: flex;
      .input-box {
        position: relative;
        width: 100%;
        &__text {
          background-color: $white;
          float:left;
          width: 100%;
          height: 50px;
          padding-right: 10px;
        }
        .image-label {
          font-size: 20px;
          line-height: 50px;
          position: absolute;
          right: 10px;
          cursor: pointer;
        }
        .icon {
          color: black;
        }
        .hidden {
          display: none;
        }
      }
      &__submit-btn {
        background: $sky_blue;
        border: none;
        color: $white;
        float: right;
        font-size: 16px;
        height: 50px;
        margin-left:  15px;
        padding : 0 30px;
      }
    }
  }
}
