.chat-side{
  width: 300px;
  float: left;

  .chat-user{
    background-color: #253141;
    height: 100px;
    &__name{
      float: left;
      font-size: 16px;
      font-weight: bold;
      padding-left: 20px;
      color: $white;
      line-height: 100px;
    }
    &__icon{
      padding-right: 20px;
      line-height: 100px;
      float: right;
      display: flex;
      &--group{
        color: $white;
        padding-right: 5px;
      }
      &--user{
        color: $white;
      }
    }
  }
  .chat-group{
    text-decoration: none;
    overflow-y: scroll;
    background-color: #2f3e51;
    height: calc(100vh - 100px);
    color: $white;
    padding-left: 20px;
    padding-top: 20px;
    box-sizing: border-box;
    &__name{
      color: $white;
      font-size: 15px;
      font-weight: normal;
    }
    &__messages{
      padding-top: 5px;
      padding-bottom: 40px;
      color: $white;
      font-size: 11px;
    }
  }
}
